@import '../base/vars';

.project-lg-container {
    display: flex;
    height: 60vh;
    position: relative;

    input {
        width: 60%;
        object-fit: contain;
    }

    h3 {
        margin-top: 0;
        color: $black;
    }
    
    p {
        margin-top: 0;
    }

    .project-description {
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding: 1em 1em 1em 0;
        align-items: center;
    }
}

