html {
  font-size: 12px;
  background-color: #fffbfa;
  box-sizing: border-box;
}

#top {
  top: 0;
  background: $green;
  position: fixed;
  height: 0.6em;
  width: 100%;
  z-index: 15;
}

#left,
#right {
  background: $green;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 0.6em;
}

#left {
  left: 0;
  z-index: 10;
}

#right {
  right: 0;
}

body:after {
  content: '';
  position: fixed;
  background: $green;
  left: 0;
  right: 0;
  height: 0.6em;
}

body:after {
  bottom: 0;
}

body {
  font-size: $m-size;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

h1 {
  font-family: $font;
  color: $orange;
}

h2 {
  font-family: $font-Cat;
  font-size: 1.9em;
  color: $black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h3,
h4,
h5 {
  font-family: $font-Jos;
  text-transform: uppercase;
}

p {
  font-family: $font-Jos;
  letter-spacing: -0.05em;
  color: $black;
}

#page {
  position: relative;
  min-height: 100vh;
}
