// Colors
$gray: #0C3330;
$green: #05baae;
$black: #243E54;
$orange: #C35136;
$tran-green: rgba(5,186,174,0.7);
$tran-orange: rgba(195, 81, 54, 0.7);


// Font
$font: Nanum Gothic, sans-serif;
$font-Jos: Josefin Sans;
$font-Cat: Catamaran;

//Spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
