// Colors
$gray: #0c3330;
$green: #05baae;
$black: #243e54;
$orange: #c35136;
$tran-green: linear-gradient(
  45deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(5, 186, 174, 0.7) 100%
);
$tran-orange: linear-gradient(
  45deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(193, 81, 54, 0.7) 100%
);

// Font
$font: Nanum Gothic, sans-serif;
$font-Jos: Josefin Sans;
$font-Cat: Catamaran;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
